# Node modules
node_modules/
client/node_modules/
server/node_modules/

# Environment files
.env
client/.env
server/.env

# Build artifacts
client/build/
server/dist/

# System / editor junk
.DS_Store
.vscode/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
